.icons-only {
    @apply flex items-center justify-center flex-col text-center
    /* RWD */
    lg:h-screen lg:p-20 lg:gap-12
    /* Tablet/Mobile */
    px-10 py-20 gap-16
}

.icons-only section {
    @apply flex flex-col items-center
    /* Tablet/Mobile */
    md:gap-4
}

.icons-only section h4 {
    @apply lg:text-xl
    /* Tablet/Mobile */
    md:text-3xl
}

.icons-only section h2 {
    @apply lg:text-4xl
    /* Tablet/Mobile */
    md:text-6xl
}

.icons-only .icon-card {
    @apply flex items-center justify-center flex-col
}

.icons-only>p {
    /* RWD */
    @apply lg:text-base md:text-bodyL
}

.icons-only>div {
    @apply
    /* lg */
    lg:flex lg:flex-row
    /* md */
    md:flex-col
}

.icons-only .icon-card {
    @apply flex-col rounded-xl
    /* lg */
    lg:gap-4 lg:py-4 lg:px-8
    /* md */
    md:gap-4 md:py-20 md:px-16
}

.icons-only h2 {
    @apply text-heading2 font-bold
}

.icons-only h4 {
    @apply text-xl font-bold text-secondary
}

.icons-only .icon-card div {
    @apply flex flex-col gap-4
}

.icons-only .icon-card h5 {
    /* RWD */
    @apply lg:text-lg md:text-4xl
}

.icons-only .icon-card p {
    @apply text-primary
    /* RWD */
    lg:text-base md:text-3xl
}